.button {
    border: 2px solid #fff;
    background-color: royalblue;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    outline: none;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.button:hover {
    background-color: #6585e7; /*#7b97ea;*/
}
.button:active {
    transform: translate(0px, 1px);
}