.container {
    background-color: white;
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-gap: 5px;
    padding: 5px;
}
.container:hover {
    background-color: #f6f6ff;
}
.item {
    background-color: transparent;
}
.item input {
    background-color: transparent;
    border: 0px;
    width: 100%;
    text-overflow: ellipsis;
    outline: none;
}
.normal {
    color: #444;
}
.archived {
    color: #bbb;
}
.icon {
    cursor: pointer;
}
.iconCheckOff::before {
    content: '\2610';
    color: #9f9f9f;
}
.iconCheckOn::before {
    content: '\2611';
    color: #9f9f9f;
}

.iconCheckOff:active::before {
    content: '\2611';
    color: #1ea7fd;
}
.iconCheckOn:active::before {
    content: '\2610';
    color: #1ea7fd;
}

.iconStarOff {
    color: #ddd;
}
.iconStarOn {
    color: #1ea7fd; /*#6585e7;*/ /*#444;*/
}
.iconStarOff::before, .iconStarOn::before {
    content: '\2605';
}
.iconStarOff:active {
    color: #1ea7fd;
}
.iconStarOn:active {
    color: #ddd; /*#444;*/
}